// colors

$Cyan: hsl(172, 67%, 45%);
$VeryDarkCyan: hsl(183, 100%, 15%);
$DarkGrayishCyan: hsl(186, 14%, 43%);
$DarkGrayishCyan: hsl(184, 14%, 56%);
$LightGrayishCyan1: hsl(185, 41%, 84%);
$LightGrayishCyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $DarkGrayishCyan;
  background: $LightGrayishCyan1;
}

#container {
  background: $White;
  border-radius: 15px;
  max-width: 300px;
  font-weight: bold;
  padding: 2rem;

  // '.enter-sum (bill)' & '.number-of-people (Number of People)'
  input[type="number"] {
    border: 0;
    outline: none;
    background-color: $LightGrayishCyan;
    padding: 0.55rem;
    height: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2rem 0 2rem;
    text-align: end;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .enter-sum {
    display: flex;
    flex-direction: column;
  }
  .select-tip {
    button {
      border: 0;
      border-radius: 5px;
      color: #fff;
      background: $VeryDarkCyan;
      height: 45px;
      width: 135px;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0.5rem 0.25rem;
      &:hover {
        cursor: pointer;
        color: $VeryDarkCyan;
        background: $Cyan;
      }
      &:focus {
        color: $VeryDarkCyan;
        background: $Cyan;
      }
    }
  }
  .number-of-people {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0.2rem;
  }

  .calcul-total {
    padding: 1.5rem;
    border-radius: 10px;
    background: $VeryDarkCyan;
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      .total-content {
        p:nth-child(1) {
          color: $White;
        }
        p:nth-child(2) {
          font-size: 0.8rem;
        }
      }
      .tip-amount-person__dollars {
        font-size: 2rem;
        color: $Cyan;
      }
      .total-amount-person__dollars {
        font-size: 2rem;
        color: $Cyan;
      }
    }
    #reset {
      border: 0;
      border-radius: 5px;
      width: 100%;
      color: $VeryDarkCyan;
      background: $Cyan;
      font-weight: bold;
      height: 45px;
      font-size: 1.25rem;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }
  }
}
